@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<div class="text-center">
    <h3>@ViewData["Message"]</h3>
</div>

<br /> <br />   
<p>Professor: @ViewData["Professor"]</p>
<p>Aluno: @ViewData["Aluno"]</p>

<address>
    <strong>More information: </strong> <a href="https://www.udemy.com/course/programacao-orientada-a-objetos-csharp/"> Curso POO C#</a>
</address>

