@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Olá, seja bem-vindo! </h1>
    <p>Aplicativo WEB de vendas do <a href="https://www.udemy.com/course/programacao-orientada-a-objetos-csharp/">curso</a> de C# .</p>
</div>
